<section class="github">
    <style>
        .crop {
            overflow: hidden;
            width: 700px; /* Reduced width to 100px */
            height: 200px;
        }
        .graph {
            width: 100%; /* Scale image to fit new container width */
            transform: translateX(-73%); /* Shift image to show right half */
        }
        .crop .title {
            font-size: x-small;
            text-align: left;
        }
    </style>
    <div class="crop">
        <p class="title">Github commit history</p>
        <img class='graph' src="https://ghchart.rshah.org/Two-Jay"/>
    </div>
</section>
